<%= form_for :car, @car, :url => {:action => "create"} do |c| %>
  <div><h1><%= label_tag :name %></h1></div>
  <div class="field">
    <%= c.text_field :existing_amount %>
  </div>
  <div class="field">
    <%= c.text_field :existing_octane %>
  </div>
  <div class="actions">
    <%= c.submit "Calculate"%>
  </div>
<% end %>
